<?xml version="1.0" ?>
<model>
    <name>tet_o</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Timo Korthals</name>
        <email>korthals.timo@gmail.com</email>
    </author>
    <description>Reverse L Tetromino with orange color</description>
</model>
