<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amiro_hokuyo" >

  <!-- Import robot -->
  <xacro:include filename="$(find amiro_description)/urdf/amiro.xacro" />

  <!-- Laser -->
  <xacro:include filename="$(find amiro_description)/urdf/laser/hokuyo.xacro"/>
  <xacro:laser name="laser" parent="${base_link}" xyz="0 0 ${lid_link_height}" rpy="0 0 0" meshes="package://amiro_description/meshes/laser"/>

</robot>
